<% unique_id = defined?(idx) ? idx : 'UNIQUE_ID' %>
<% row_hash ||= {} %>

<%= f.fields_for "#{question.id.to_s}" do |fp| %>
  <%= fp.fields_for "#{ unique_id  }", OpenStruct.new(row_hash) do  |fr| %>
    <div class="row group-qusetion-row" id="advance-group-#{unique_id}">
      <% question.properties['advance_groups'].each do |key, advance_group| %>
        <div class="<%= build_class_advance_question_group_column(question) %>">
          <div class="input string">
            <% if advance_group['type'] == 'text' %>
              <%= fr.input_field key.to_s, as: :string, class: 'form-control' %>

            <% elsif advance_group['type'] == 'number' %>
              <%= fr.input_field key.to_s, as: :integer, class: 'form-control' %>

            <% elsif advance_group['type'] == 'date' %>
              <%= f.input question.id.to_s, label: false, hint: false, required: false, wrapper: :prepend do %>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= fr.input_field key.to_s, as: :string, class: 'form-control', placeholder: question.properties['placeholder'] %>
              <% end %>

            <% elsif advance_group['type'] == 'select' %>
              <%= fr.input_field key.to_s, class: 'form-control', collection: advance_group['options'], prompt: (advance_group['prompt'].present? ? advance_group['prompt'] : false) %>

            <% end %>
          </div>
        </div>
      <% end %>

      <!-- no need remove link for the first row -->
      <% if unique_id != '0' %>
        <div class="col-xs-2"><%= link_to 'remove', 'javascript:;', class: 'btn btn-danger', 'onclick' => "$(this).closest('.row').remove()" %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
