<% answers ||= ["amount" => "","currency" => "","date" => "","reason" => ""] %>
<div id="compensation-field-<%= question.id %>" class="compensation-detail dyno-compensation-field">
    <script type="text/javascript">
      window.form_compensation_row_partials || (window.form_compensation_row_partials = {});
      window.form_compensation_row_partials[<%= question.id %>] = "<%=j render('/private/form_entries/fields/form_compensation_row', question: question, fe: f, new_entry: true) %>";
    </script>

    <div class="form-group dynamic-rows">
      <!-- header -->
      <div class="row">
        <div class="col-xs-2 pr0">
          <label><%= t('.amount') %></label>
        </div>

        <div class="col-xs-2 pr0">
          <label><%= t('.currency') %></label>
        </div>

        <div class="col-xs-2">
          <label><%= t('.per') %></label>
        </div>

        <div class="col-xs-2 no-horizontal-padding">
          <label><%= t('.effective_as_of') %></label>
        </div>

        <div class="col-xs-4">
          <div class="input-group alt">
            <label><%= t('.reason') %></label>
          </div>
        </div>
      </div>

      <!-- rows -->
      <div class="compensation-lists">
        <% answers.each do |compensation| %>
          <%= render '/private/form_entries/fields/form_compensation_row', fe: f, compensation: compensation, question: question, new_entry: false %>
        <% end %>
      </div>

      <!-- End Row -->
      <%= link_to 'javascript:void(0)', class: 'btn btn-link no-padding', 'ng-click'=> "addRowCompensation(#{question.id})" do %>
        <i class="pi pi-plus"></i>
        <%= t('.add_a_new_compensation') %>
      <% end %>
    </div>
</div>
