<% tax ||=  {} %>
<%= fe.fields_for "#{question.id.to_s}", OpenStruct.new(tax), index:"" do |f_row| %>
  <div class="row tax-entry">
    <div class="col-xs-3">
      <%= f_row.input_field :filling_status, collection: question.properties['tax_filling_status_options'].map{|m| [m['label'], m['value']]}, class: 'form-control', prompt: t('.select') %>
    </div>

    <div class="col-xs-3">
      <%= f_row.input_field :decline_with_holding, collection: question.properties['tax_decline_with_holdings'].map{|m| [m['label'], m['value']]}, class: 'form-control', prompt: t('.select') %>
    </div>

    <div class="col-xs-3">
      <%= f_row.input_field :withholding_allowance, as: :string, class: 'form-control' %>
    </div>

    <div class="col-xs-3">
      <div class="input-group alt">
        <%= f_row.input_field :additional_withholding, as: :string, class: 'form-control' %>
        <div class="input-group-addon">
          <button type="button" class="btn btn-link btn-delete-row" onclick="$(this).closest('.tax-entry').remove()">
            <i class="pi pi-minus text-danger"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

<% end %>
