<% @entry.answers ||= {} %>
<% question_group_hash = @entry.answers[question.id.to_s] %>
<% question_group_hash ||= { "0" => {} } %>

<!-- question_group -->
<div class="question-group-container">
  <%= f.label question.id, class: 'control-label' do %>
    <% if question.required %>
      <abbr title="required">*</abbr>
    <% end %>
    <%= question.properties['label'] %>
  <% end %>

  <script type="text/javascript">
    var row_question_group = "<%=j render('/private/form_entries/fields/question_group_row', f: f, question: question) %>"
  </script>

  <div class="question-group-rows">
    <div class="row">
      <% question.properties['groups'].each do |key, group| %>
        <div class="<%= build_class_question_group_column(question) %>">
          <strong><%= group['name'] %></strong>
        </div>
      <% end %>
      <div class="col-xs-2">&nbsp;</div>
    </div>

    <% question_group_hash.each do |key, value| %>
      <%= render '/private/form_entries/fields/question_group_row', f: f, question: question, idx: key, row_hash: value %>
    <% end %>
  </div>

  <p><%= link_to 'Add row', '', class: 'btn btn-xs btn-primary', 'ng-click' => "addRowQuestionGroup()" %></p>

  <% if question.properties['hint'].present? %>
    <div class="row">
      <div class="col-xs-12">
        <p class="help-block"><%= question.properties['hint'] %></p>
      </div>
    </div>
  <% end %>
</div>
